version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    target-branch: "main"
    commit-message:
      prefix: "chore"
      include: scope
    reviewers:
      - "chege"
    labels:
      - "dependencies"
      - "go"
    allow:
      - dependency-type: "direct"
    groups:
      gomod-minor:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    target-branch: "main"
    commit-message:
      prefix: "chore"
      include: scope
    reviewers:
      - "chege"
    labels:
      - "dependencies"
      - "ci"
    groups:
      gh-actions:
        patterns:
          - "*"
